<li class="media">
	<div class="media-left">
		</div>
	



	<div class="media-body">
		<div class="media-heading">
			<span class="label  label-default pointer" ng-hide="liked" ng-click="like()"><span class="glyphicon glyphicon-star" />{{comment.upvotes}}</span>
			<span class="label  label-success" ng-show="liked"><span class="glyphicon glyphicon-star" />{{comment.upvotes}}</span>
		  <span>{{comment.author}}</span> <span am-time-ago="comment.createdAt"></span>
	</div>
		<div ng-bind-html="comment.body" />

		<div class="comment-meta">
			<a ng-hide="visible" ng-click="showCommentDialog()" class="pointer">Reply</a>
			<div ng-show="visible" id="c{{comment._id}}">
				<form ng-submit="addCommentFix()" style="margin-top:30px;">
					<div class="form-group">
						<textarea ng-model="body" placeholder="Add a new Comment" class="form-control">
						</textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" type="submit">Add comment</button>
						<button class="btn btn-danger" type="reset" ng-click="hide()">Cancel</button>
					</div>
				</form>
			</div>
		</div>

		<div ng-repeat="c in comment.comments| orderBy:'-upvotes'">
			<comment comment="c" increase-upvotes="increaseUpvotes" add-comment="addComment" />
		</div>



	</div>


</li>